em { font-style: italic; }
#header { height: 6em; }
#header div { width: 800px; margin: auto; line-height: 6em; height: inherit;}
#header img { vertical-align: middle; height: 3em; margin-right: 1em; margin-bottom: 1em; }
#header p { font-size: 1.1em; display: inline; vertical-align: sub; }
#header button {
}
#content { text-align: center; font-weight: bold; }
#content h1 { height: 4em; line-height: 4em; margin: 2em; }
#content h1 p {
  background-color: #efefef;
  padding: 0.5em; 
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.6em;
  display: inline;
  text-align: center;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em; 
}
#content p { margin: 1em; }
#content img { position: fixed; left: 0; bottom: 4.5em; }
#content form { height: 2em; display: block; }
#content input[type="text"] {
  height: 100%;
  background: white url('/img/textgrad.png');
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
#content input[type="submit"] {
  margin-left: -0.35em;
  height: 1.95em;
  position: relative;
  border: 1px #45a136;
  top: 1px;
  background: #45a136 url('/img/hlgrad.png');
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
#footer { height: 5em; }
