body { font-family: tahoma, geneva, sans-serif; font-size: 12px; }
input { font-family: tahoma, geneva, sans-serif; font-size: 12px; }
label { font-weight:bolder; }
fieldset { border: 0px; }
white { background-color:white; }
hilighted { background-color:yellow; }