/* REMEMBER: Rule precedence increases downwards
boldgreen 45a136
*/
/* Hard include of http://fonts.googleapis.com/css?family=Droid+Sans
   because FFX doesn't play nice with @import */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), url('http://themes.googleusercontent.com/font?kit=POVDFY-UUf0WFR9DIMCU8g') format('truetype');
}
body {
  margin: 0;
  font: 15px 'Droid Sans',Helvetica,Arial,sans-serif;
  color: #000;
  background: #fff;
}
a { text-decoration: none; color: #1584b2; }
.clickable { cursor: pointer; }

/* classes */
input[type="text"],
input[type="password"],
input[type="submit"],
button {
  font-size: 1.1em;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
input[type="text"],
input[type="password"] {
  background-color: #ddd;
  border: 1px solid #aaa;
  color: #6e6e6e;
}
input[type="text"].controls,
input[type="password"].controls,
input[type="text"].input,
input[type="password"].input {
  background: #fff url('/img/textgrad.png') repeat-x;
  border: 1px solid #bdbdbd;
  font-size: 1.1em;
  height: 28px;
  padding: 0 0.3em;
}
input[type="text"]:focus,
input[type="password"]:focus { background-color: #ffc; border-color: #9cda60; }
input[type="text"].default { color: #bbb; }

input[type="submit"],
button {
  background: #333;
  color: #fff;
  font-weight: bold;
  height: 28px;
  padding: 0 0.5em;
  border: 1px solid #555;
  letter-spacing: -1px;
}
input[type="submit"]:hover { background: #444; }
input[type="submit"]:active { border-color: #777; color: #eee; }

h1 { font-size: larger; }
h1 strong { font-weight: bold; }

.softener { background: url('/img/grad_content.png') repeat-x; height: 5px; }

/* Setup table for split content */
.split { width: 100%; }
.split td { vertical-align: top; }
.left.pane { width: 737px; }
.right.pane { padding-left: 1em; }

/* Setup large page elements */
#header,
#footer { position: relative; width: 100%; height: 3em; line-height: 3em; background: #45a136 url('/img/hlgrad.png') repeat-x; color: #fff; }
#header a,
#footer a { color: #fff; }

#content, .nav { position: relative; margin: auto; }
#content { width: 800px; }

#footer { font-size: 0.9em; position: fixed; bottom: 0; text-align: center; }
#footer li { display: inline; padding: 0 0.5em; }
#footer button { margin-bottom: 3px; }

#download { background-color: #dd0; border: #dd0; color: #000; }
.copyright { font-size: 0.8em; }

.nav li { float: left; }
.nav li a { display: block; padding: 0 1em; color: #fff; }
.nav li a strong { font-weight: bold; }
.nav li:hover a,
.nav li.selected { text-shadow: #444 0 0 0.3em; }

#logo img { vertical-align: middle; }
#logo a { padding: 0 1em; height: 100%; }

.nav .account, .nav .profile { float: right; color: #fff; }
.nav .account { text-align: center; position: relative; padding: 0 1em; font-size: 0.8em;
  background: url('/img/account_down.png') no-repeat; background-position: 100% 50%; padding-right: 1.5em; 
}
.nav .account span { padding-top: 0.2em; vertical-align: baseline; }
.nav .account ol { background-color: #000; display: block; z-index: 90; position: absolute; right: 0; top: 100%;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  -moz-border-radius-bottomleft: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
}
.nav .account ol li { float: none; display: block; height: 1.6em; z-index: 90; }
.nav .account li:hover { background-color: #555; }
.nav .account a { display: inline; position: relative; top: -70%; }

.nav .sign.in { float: right; }
.rpxnow { vertical-align: middle; line-height: 3em; }
.rpxnow input { background-color: #299ecf; border-color: #299ecf; }
.rpxnow input:hover { background-color: #39aedf; }
.rpxnow input:active { background-color: #39aedf; border-color: #3aafe1; }

/* dimmed dialogs */
.dialog.dimmer { position: absolute; width: 100%; height: 100%; top: 0; z-index: 900;
  overflow: clip; background: url('/img/shelf_bg.png');
}
.dialog.close { position: absolute; top: -1.6em; right: -1.6em; cursor: pointer; }
.dialog.win {
  margin: auto;
  background-color: white;
  position: relative;
  top: 5em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.dialog .header {
  color: #fff; padding: 1em;
  background: #45a136 url('/img/grad_header.png') repeat-x;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

#welcome.dialog.win { width: 815px; position: relative; padding-bottom: 1em; }
.numcircle { background: url('/img/welcome/numcircle.png') no-repeat; color: #fff; font-size: 1.5em; width: 40px; height: 35px; line-height: 35px; text-align: center; margin: auto; }
#welcome .bigapp { position: absolute; right: -40px; top: 80px; }
#welcome .header h1 { position: absolute; font-size: 1.5em; left: 380px; top: 1.5em; }
#welcome .header h1 em { font-style: italic; }
#welcome table { width: 96%; margin: 0 2%; }
#welcome td { vertical-align: top; }
#welcome h2 { margin: 0.5em auto; }
#welcome h3 { font-size: 0.7em; margin-bottom: 1em; }
#welcome a { color: #fe7; }
#welcome .how { background-color: #ececec; font-size: 2em; margin: 0.5em; padding: 0.5em;
  border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; }
#welcome .how em { color: #1176d5;}
#welcome .steps { text-align: center; width: 580px; }
#welcome .app { width: 33%; }
#welcome .connect { width: 33%; }
#welcome .photos { width: 33%; }

.dialog .border { top: 5em;  background-color: #333; width: 570px; margin: auto; position: relative; padding: 0.7em 0; 
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
}
.dialogue .dialog.win { width: 550px; top: 0.1em; padding-bottom: 0.1em; }
.dialogue .header { position: relative; height: 0.7em; line-height: 0.7em; vertical-align: middle; background-image: none; }
.dialogue .header h1 { position: absolute; left: 2em; }
.dialogue .header img { position: absolute; top: 50%; margin-top: -14.5px; right: 2em; }
#signup table { width: 90%; font-size: 1.5em; margin: 1em auto; }
#signup th { text-align: right; padding-right: 0.5em; color: #45a136; }
#signup td { padding: 0.2em 0; }
#signup p { text-align: center; font-size: 0.45em; padding: 1em 0; }
#signup .finished { text-align: center; font-size: 0.66em; }
#signup .username_sample p,
#signup .error { padding: 0; font-size: 0.6em; text-align: left; }
#signup .error { color: #f00; font-size: 0.6em; text-align: left; }
#signup .ok span { color: #45a136; }

#done .content { text-align: center; }
#done .content h2 { font-size: 1.8em; color: #45a136; background-color: #fff; padding: 1em 0; }
#done em { font-weight: bold; }
#done h3 { padding: 0.5em 0; font-size: 1.2em; }
#done h1.bichrome { background-color: transparent; }
#done ul { padding-top: 0.2em; }
#done li { display: inline; padding: 0.1em; }

.viewphoto.dialog.win { width: 625px; background: #fff; color: #000; padding-bottom: 0.1em; }
.viewphoto .header { padding-bottom: 2em; }
.sround { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.lround { border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; }
.viewphoto .header img { width: 50px; height: 50px; float: left; margin-right: 1em; }
.viewphoto .header h1 { color: #000; font-weight: bold; }
.viewphoto h2, #viewphoto h3 { display: inline; }
.viewphoto h3, #viewphoto .tags { font-size: smaller; }
.viewphoto .tags { margin: 0 0.5em; }
.viewphoto .tags,
.viewphoto .tags li { display: inline; color: #fff890; margin: 0 0.3em; }
.viewphoto .split { margin: 1em; width: 95%; }
.viewphoto .photo,
.viewphoto .photo img { width: 350px; }
.viewphoto .photo { padding-right: 1em; }
.viewphoto .photo img { border: 2px solid #666; margin-top: -2em;}
.viewphoto .gathered { background-color: #ececec; text-align: center; font-size: 1.5em; padding: 1em 1em; }
.viewphoto .split table { width: 100%; height: 100%; }
.viewphoto .viewmap { width: 200px; height: 200px; margin: auto; border: 1px solid #000; }

.signinup {
  border: 0.7em solid #91cf55;
  width: 580px;
}
.signinup.ui-tabs .ui-tabs-hide { display: none; }
.signinup.ui-tabs li.ui-state-active {
  border-bottom: 1px solid #fff !important;
}
.signinup.ui-tabs li.ui-state-active a { color: #555; }
.signinup.ui-tabs li a {
  padding: 0;
  color: #aaa;
}
.signinup .ui-tabs-nav li {
  padding: 0.5em 0.5em 0em 0.5em;
  margin-left: 0.5em;
  background: white;
  border: 1px solid #91cf55;
  top: 0;
}
.signinup ul.ui-tabs-nav {
  background: white;
  border: 0;
  border-bottom: 1px solid #91cf55;
  padding: 0.5em 0.5em 0 0;
  height: 1.95em;
}
.signinup .ui-tabs-panel {
  background-color: inherit;
  padding: 1em;
  border: none;
}
.signinup .ui-widget-content a { color: #1584b2; }
.signinup form td { padding: 0.3em 0 0.3em 0.5em; }
.signinup form input[type=text],
.signinup form input[type=password] {
  border: 1px solid #aaa;
  background-color: #eee;
  width: 10em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.signinup form input[type=text]:focus,
.signinup form input[type=password]:focus { background-color: #ffc; }
.signinup .signin table { width: 100%; }
.signinup .signin form th { font-size: medium; }
.signinup .signin .header { text-align: left; font-weight: bold; font-size: large; }
.signinup .signin .invalid { text-align: left; color: red; }
.signinup .signin td.or {
  padding: 1em;
  font-weight: bold;
  font-size: 1.5em;
}
.signinup .signin .auths li { vertical-align: middle; text-align: right; }

.fade {
  position: absolute;
  top: 0;
  background: url('/img/fade.png') repeat-y;
  width: 30px;
  height: inherit;
  z-index: 20;
}
.fade.right { right: 0; background-position: -30px 0; }

.eye #content { width: 100%; }

#trendingtags { position: relative; height: 2em; line-height: 2em; }
#trendingtags li, 
#trendingtags h1 { display: inline; font-size: 0.9em; margin: 0 0.2em; }
#trendingtags h1 { font-weight: bold; }

#livestream { position: absolute; top: 2em; right: 0; overflow: hidden; }
#livestream li { position: relative; display: block; margin-left: 0.5em; margin-bottom: 0.5em; height: 100px; }
#livestream img { width: 100px; max-height: 100px; margin: 0 2px; float: left; }
#livestream div { margin-left: 0.5em; padding-left: 100px; font-size: 0.8em; }
#livestream div li { display: inline; margin: 0; padding-right: 0.5em; }
#livestream .user { font-weight: bold; }

.search h1 {
  color: #3b0;
  font-size: large;
}
.search .searchbox {
  width: 80%;
  text-align: center;
  margin: 0.5em auto;
}
.search label {
  color: #3b0;
}
span.label {
  color: #555;
  font-size: small;
}
.explore.people .search .match {
  color: #3b0;
}
.explore.people .search .users > li {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 215px;
}
.explore.people .search .users > li .photo {
  position: absolute;
  top: 0; right: 0;
  width: 215px;
}
.explore.people .search .users > li .photo img {
  width: 215px;
  max-height: 215px;
}

ul.users > li,
div.users {
  position: relative;
  padding-left: 55px;
  min-height: 50px;
  margin-bottom: 0.5em;
  vertical-align: middle;
}
ul.users.centered > li,
div.users.centered {
  line-height: 50px;
}
ul.users > li a img,
div.users a img {
  position: absolute;
  top:0; left:0; 
}

form.search input[type="text"] {
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 0 20px 0 4px;
}
form.search input[type="image"] {
  margin-left: -20px;
  vertical-align: middle;
}
form.comments input[type="text"],
form.tags input[type="text"] {
  border: 1px solid #aaa;
  border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0 4ex 0 2px;
}
form.comments input[type="submit"],
form.tags input[type="submit"] {
  padding: 0 0.5em;
  font-effect: emboss;
  border: 1px solid #aaa;
  border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #c7f499;
  color: #000;
  height: 1.6em;
  vertical-align: middle;
  margin-left: -4ex;
  text-shadow: 1px 1px 1px #fff;
}

div.caption,
.comment {
  position: relative;
  height: 50px !important;
  overflow: hidden;
  padding-left: 55px !important;
  margin-bottom: 5px;
}
div.caption img,
.comment img {
  position: absolute;
  top: 0; left: 0;
}
div.caption p,
.comment p {
  font-size: medium;
  color: #000;
}

.photos.view .left.pane { position: relative; }
.photos.view .info { position: relative; }
.photos.view .info .prevnext { position: absolute; top: 0; right: 0; }
.photos.view .prevnext a {
  float: left;
  margin-left: 0.5em;
  display: block;
  line-height: 50px;
}
.photos.view .prevnext a img { vertical-align: middle; }
.photos.view .prevnext a img.thumb { height: 50px; }
.photos.view #the_image {
  margin: 1em auto 1em auto;
  text-align: center;
  display: block;
}
.the_image { position: relative; text-align: center; }
.the_image .left, .the_image .right {
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
.the_image img { max-width: 585px; }
.the_image .left { left: 0; }
.the_image .right { right: 0; }
.photos.view td.pane { vertical-align: top; }
.photos.view .tags * { display: inline; }
.photos.view .comments p { margin-bottom: 1em; }
.photos.view ul.collage { margin: 0; }

h1.bichrome { color: #bbb; font-size: larger; margin-top: 0.6em; }
h1.bichrome em { color: #a3e267; }
h1.monochrome { color: #444; font-size: 2.5em; }
h1.monochrome em { font-weight: bold; }

.profile #content { width: 1024px; }
.profile .left.pane { width: 220px; }
.profile .left.pane .actions { text-align: center; }
.profile .left.pane .actions a { color: #bb2727; }
.profile .left.pane ul.collage { width: 220px; }
.profile .left.pane h1.username { text-align: center; }
.profile .left.pane .username { font-size: large; font-weight: bold; color: #a3d277; }
.profile .left.pane .userphoto { width: 220px; height: 220px; text-align: center; }
.profile dl.user.info dt:after { content: ":"; }
.profile dl.user.info dt { float: left; clear: left; margin-right: 0.5em; }
.profile .right.pane { padding-left: 3em; }
.profile .most_recent p { font-size: larger; max-width: 60ex; margin-bottom: 1em; }
.profile .most_recent .map { height: 50%; width: 100%; border: 1px solid #aaa; }
.profile .userinfo { margin-bottom: 0.5em; } 
.profile p.comments { font-size: small; } 

/* This is very similar to .live.stream */
.profile.stream li { position: relative; height: 270px; margin-bottom: 10px; }
.profile.stream li .photo { position: absolute; clear: left; z-index: 1;}
.profile.stream li .photo a.like { position: absolute; top: 0.5em; right: 0.5em; display: none; }
.profile.stream li .detail { padding-left: 280px; position: relative; height: inherit; width: 400px; } 
.profile.stream li .detail .bottom { position: absolute; bottom: 0;} 

p.loadmore { text-align: center; font-size: larger; }
p.loadmore a { display: block; padding: 0.5em; }
p.loadmore:hover { background-color: #cff; text-shadow: 1px 1px 1px #fff; }

.share.upload h1 { font-size: 1.5em; color: #3b0; }

.userpic {
  float: left;
  width: 50px; height: 50px;
  margin-right: 0.5em;
}
.username { color: #bb2727; }
.caption { color: #000; font-weight: bold; }
.location {
  font-size: small !important;
  color: #1584b2 !important;
}
.time {
  color: #555 !important;
  font-size: small !important;
}

table.stream {
  width:100%;
  text-align:center;
  vertical-align:top;
}

.comment {
  color: #000;
  font-size: small;
}

ul.collage { margin: 0.5em auto; width: 220px; }
ul.collage li,
.explore.stream li { display: inline-block; margin: 2px; width: 40px; height: 40px; line-height: 40px; }
ul.collage li a,
.explore.stream li a { display: block; width: 40px; height: 40px; background-color: #000; }
ul.collage li img,
.explore.stream li img { vertical-align: top; width: 40px; max-height: 40px; }

input.comment {
  border: 2px solid #ccc;
  margin-top:6px;
  padding: 0 5px;
  width:450px;
  background-color:#f7f7f7;
  font-size:16px;
  color:#999;
  border-radius: 8px;
  -moz-border-radius: 8px; 
}

input.comment:focus {
  outline:none;
}

#viewpic {
  position: relative;
  margin: auto;
  width: 800px; height: 600px;
  background-color: #dec;
  padding: 1.5em;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
#viewpic .left.pane { width: 500px; }
#viewpic .more { text-align: center; }
#viewpic .the_image { margin: auto; text-align: center; }
#viewpic #viewpic_map { width: 200px; height: 200px; margin: auto; }
#viewpic .similar img { height: 55px; }
#viewpic_close { position: absolute; top: 0.5em; right: 0.5em; }

.infoed.photo {
  position: relative;
  width: 165px;
}
.infoed.photo .info {
  position: relative;
  margin: auto;
  height: 1.4em;
}
.infoed.photo .info .numcomments {
  position: absolute;
  left: 0;
  height: inherit;
}
.infoed.photo .info .numcomments a {
  color: #555;
  font-size: small;
}
.infoed.photo .info .time {
  position: absolute;
  right: 0;
}
.infoed.photo .name {
  margin: auto;
  color: #b61818;
  font-weight: bold;
  font-size: small;
}
.infoed.photo .image {
  position: relative;
  height: 150px;
}
.infoed.photo .image .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
  background-color: #000;
  color: #fff;
  display: none;
  opacity: 0.7;
}
.infoed.photo .image:hover .hover {
  display: block;
}

.detailed.stream > li {
  height: 215px;
  padding: 5px 0;
  position: relative;
}
.detailed.stream .comments .state .comments,
.detailed.stream .map .state .map,
.detailed.stream .meta .state .meta {
  background-color: #a3c483;
}
.detailed.stream li .photo {
  position: absolute;
  width: 215px; height: inherit;
  background-color: #f0f0f0;
  border-radius: 2px;
  -moz-border-radius: 2px;
}
.detailed.stream li .photo a {
  width: inherit; height: inherit;
  display: block;
  line-height: 215px;
}
.detailed.stream .photo img {
  width: inherit; vertical-align: middle;
}
.detailed.stream .photo .emotions {
  display: none;
  position: absolute; bottom: 0;
  width: inherit; height: 2em; line-height: 2em;
  background-color: #444; color: #fff;
  font-size: small;
}
.detailed.stream .photo .emotions li {
  margin-left: 0.2em;
  float: left;
}
.detailed.stream .photo:hover .emotions { display: block; }
.detailed.stream li .state {
  position: relative; left: 225px;
  width: 500px; height: 20px;
}
.detailed.stream li .state p {
  float: left;
  width: 5em; height: 10px;
  margin: 0 5px 0 0;
  font-size: small;
  line-height: 10px;
}
.detailed.stream li .state div {
  float: left;
  width: 5em; height: 10px;
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  margin: 0 5px 0 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
}
.detailed.stream .detail {
  position: absolute; left: 225px;
  width: 500px; height: 195px;
  display: none;
}
.detailed.stream .comments .detail.comments ul { padding-left: 1em; }
.detailed.stream .map .detail.map .map {
  position: absolute;
  width: 215px; height: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  -moz-border-radius: 2px;
}
.detailed.stream .map .detail.map h1,
.detailed.stream .map .detail.map ul { padding-left: 225px; }
.detailed.stream .detail.meta .summary {
  position: absolute;
  width: 200px;
  height: inherit;
}
.detailed.stream .detail.meta .summary h1 {
  font-size: medium;
  font-weight: bold;
}
.detailed.stream .detail.meta .summary ul li {
  float: left;
  margin-right: 0.2em;
  color: #1aa;
  font-size: small;
}
.detailed.stream .detail.meta .summary p,
.detailed.stream .detail.meta ul li p { line-height: 1em; }
.detailed.stream .detail.meta .summary p img,
.detailed.stream .detail.meta ul li p img { vertical-align: middle; }
.detailed.stream .detail.meta > ul { padding-left: 210px; }
.detailed.stream .detail.meta > ul li {
  height: auto;
  display: block;
  position: relative;
  padding-left: 55px;
  margin: 5px 0;
}
.detailed.stream li.comments .detail.comments,
.detailed.stream li.map .detail.map,
.detailed.stream li.meta .detail.meta { display: block; }

.expandable {
  margin: auto;
  margin-bottom: 1em;
}
.expandable h1 {
  background: url('/img/settings_bar.png') no-repeat;
  height: 39px;
  line-height: 39px;
  padding-left: 2%;
  width: 98%;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.expandable .content {
  background-color: #ededed;
  padding: 1em;
  margin: 0 2%;
  width: 90%;
  text-align: center;
}

.policy { background-color: #eee; padding: 1em 2em; color: #444; width: 700px; margin: 2em auto; }
.policy h1 { font-weight: bold; text-align: center; }
.policy h2 { font-weight: bold; margin: 0.5em 0; }
.policy p { margin: 0.5em 0; }
.policy em { font-style: italic; }
.policy li { list-style: lower-alpha outside; margin-left: 2em; }

/*
#headerstream {
  position: relative;
  height: 50px;
  background-color: #000;
  margin: auto;
  overflow: hidden;
}
#headerstream li {
  width: 50px; height: inherit;
  overflow: hidden;
  float: left;
}
*/

/*
.home.out .nav .sign.in { margin-top: 1.5em; }
.home.out #header .nav { height: 88px; }
.home.out #header { height: 138px; }
.home.out .pedestal {
  background: #efefef;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border: 2px solid #dfdfdf;
  -moz-box-shadow: 4px 4px 4px #aaa;
  -webkit-box-shadow: 4px 4px 4px #aaa;
}
.home.out .pedestal .split { width: 100%; margin: auto; }
.home.out .left.pane { width: 560px; }
.home.out .left.pane .title { color: #444; font-size: 2em; text-align: center; margin-top: 0.6em; margin-bottom: -0.6em; }
.home.out .title em { font-style: italic; }
.home.out #content strong { font-weight: bold; color: #7a5; }
.home.out .why { margin: 4em 0 1em 4em; font-size: larger;}
.home.out .tags h1 { text-align: center; font-size: 1.5em; margin-top: 3.5em;}
.home.out .tags ul { text-align: center; }
.home.out .tags li { display: inline; }
.home.out .tags li a { color: skyblue; font-size: larger; }
.home.out .stream h1 {
  color: #7a5;
  margin: 0.5em 0 0 0;
  line-height: 25px;
  display: block;
}
.home.out .stream .tools { display: inline; }
.home.out .stream .tools a { text-decoration: none; color: #999; }
.home.out .stream .photos { border-spacing: 4px 0; border-collapse: separate; }
.home.out .updating_map #map { width: 350px; height: 350px; border: 1px solid #bbb; }
.home.out #map_caption {
  background-color: #fff;
  position: relative;
  top: 2.5%;
  z-index: 1001;
  width: 90%; height: 60px;
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px; 
}
.home.out #map_photo {
  position: relative;
  top: 1em;
  margin: auto;
  z-index: 1001;
  width: 180px; max-height: 180px;
}
.home.out #map_photo img {
  width: 180px; max-height: 180px;
}

.getapp #content { text-align: center; }
.getapp #content table { margin: auto; }
.getapp #content table a {
  display: block;
  color: black;
  font-size: large;
}
.getapp #content table .apps td {
  padding: 0 2em 0 2em;
  line-height: 224px;
}
.getapp #content img { vertical-align: middle; }
.getapp button {
  background-color: #45a136;
  padding: 0.5em 1em;
  font-size: larger;
  font-weight: bold;
  color: white;
  border: 1px solid #359126;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.livestreams .left.pane .controls {
  border-bottom: 2px solid #cbeda9;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 2em; 
}
.stream_type li {
  display: inline;
  padding: 0.3em 0.3em 0.2em 0.3em; /* slightly different for centering text in button /
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #fff;
}
.stream_type li.type { background-color: #cbeda9; }
.livestreams .controls #specific_button {
  background-color: #ccc;
  text-align: center;
  border: 1px solid #aaa;
  text-shadow: 1px 1px 1px #fff;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
.livestreams .controls .right { text-align: right; }
.livestreams .controls .buttons li { display: inline; }
.livestreams .tags { margin-bottom: 0.5em; }
.livestreams .tags h1 { display: inline; color: #777; }
.livestreams .tags ul { display: inline; }
.livestreams .tags ul li { display: inline; }
.livestreams .tags a { color: #1584B2; }
.livestreams #photo_map { width: 100%; height: 300px; margin-bottom: 10px;}
.livestreams #social_stream { line-height: 2.5em; margin-top: 1em; }
.livestreams #social_stream .right { vertical-align: middle; }
.livestreams .social.stream > li { height: auto; text-align: center; }
.livestreams .social.stream > li p { text-align: left; font-size: smaller; }
.livestreams .social.stream > li p img { vertical-align: middle; }
.livestreams .collage { width: 216px; }

/* This is very similar to .profile.stream /
.live.stream li { position: relative; height: 270px; margin-bottom: 10px; }
.live.stream li .photo { position: absolute; clear: left; z-index: 1;}
.live.stream li .photo a.like { position: absolute; top: 0.5em; right: 0.5em; display: none;
  border: 1px solid #aaa;
  background: #f0f0f0 url('/img/like.png') no-repeat center right;
  height: 30px;
  line-height: 30px;
  padding: 0 32px 0 4px;
  color: #45a136;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.live.stream li .photo a.like:hover { background-color: #fafafa; }
.live.stream li .detail { padding-left: 280px; position: relative; height: inherit; } 
.live.stream li .detail .bottom { position: absolute; bottom: 0;} 
.live.stream li .detail h1 { font-size: 1.5em; color: #a3e267; } 

.explore.map #content {
  width: 100%;
  padding: 0;
}
.explore.map .search.controls {
  height: 2.5em;
  line-height: 2.5em;
}
.explore.map .search.controls * {
  vertical-align: middle;
}
.explore.map #shelf .zeitgeist { text-align: center; }

.explore.photos .left.pane { width: 700px; }
.explore.photos .controls div { margin-bottom: 0.5em; }
.explore.photos .controls h1 { display: inline; color: #8c8c8c;}
.explore.photos .controls h1:after { content: "."; }
.explore.photos .controls ul { display: inline; }
.explore.photos .controls ul li { display: inline; }
.explore.photos .controls .search { line-height: 1.5em; padding-bottom: 0.5em; border-bottom: 2px solid #90d54b; }
.explore.photos .controls .search label {
  font-size: 1.5em;
  color: #555;
  font-weight: bold;
  vertical-align: middle;
}
.explore.photos .controls .search input[type=text] {
  vertical-align: middle;
  line-height: 1.5em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.explore.photos .controls .search input[type=submit] {
  color: #fff;
  background-color: #90d54b;
  border: 1px solid #555;
  font-weight: bold;
  padding: 0.3em 0.5em;
  vertical-align: middle;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.explore.photos .most h1 { color: #aaa; font-weight: bold; font-size: large; }
.explore.photos .most.streams { position: relative; }
.explore.photos .details { position: relative; top: 0; left: 100px; }
.explore.photos .details { position: relative; top: 0; left: 100px; }
.explore.photos #most_recent { position: relative; }
.explore.photos #most_viewed { position: absolute; top: 0; left: 50%; }
.explore.photos #most_liked { position: absolute; top: 50%; left: 50%; }
.explore.photos .most.streams li { position: relative; }
.explore.photos .most.streams li img { position: absolute; }
.explore.photos .most.streams li .details { position: relative; top: 0; left: 100px; height: 90px; }
.exp.stream img { width: 90px; height: 90px; }
.exp.stream li { margin-bottom: 0.5em; }
.explore.people .location.selector {
  position: absolute;
  top: 1em;
  right: 0;
  font-size: large !important;
  color: #fff !important;
  background-color: #9cda60;
  padding: 2px 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
}
.explore.people .recent {
  width: 100%;
  margin-top: 1em;
}
.explore.people .recent td {
  vertical-align: top;
}
.explore.people .recent h1 {
  color: #3b0;
  font-size: large;
  margin-bottom: 0.5em;
}
.explore.people .recent #recently_near_people_map {
  width: 300px; height: 300px;
  border: 1px solid #555;
}
.explore.people div.search {
  margin-top: 1em;
}
*/

.settings #content { margin-top: 2em; }
.settings #settings { margin: auto; width: 680px; }
.settings .basic .content h1 { background: none; color: black; }
.settings .basic .content .userphoto { float: right; margin-right: 2em; }
.settings .basic td { padding: 0.5em 0 0.5em 1em; }
.settings .auths .content .auths { margin: auto; }
.settings .privacy .content table { margin: auto; font-weight: bold; }
.settings .privacy .content table tr { line-height: 2em; }
.settings .privacy .content table th { text-align: right; padding-right: 1em; }
/*

h1.bubble {
  margin-top: 0.5em;
  background-color: #45a136;
  color: #fff;
  margin: 0.2em -0.5em 0.2em -0.5em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
h1.bubble .right {
  float: right;
}
*/
