AuthUserFile /home/myshen/src/livegather/livegather.com/.htpasswd
AuthGroupFile /null
AuthName "Log in"
AuthType Basic
require valid-user
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
