#AuthUserFile /home/myshen/livegather/livegather.com/.htpasswd
AuthUserFile /home/tmandarano/livegather.com/.htpasswd
AuthGroupFile /null
AuthName "Log in"
AuthType Basic
require valid-user

# Leave out guard so server will fail if mod_rewrite is not present.
#<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
# The question mark is to get PATH_INFO to work. This is because PHP is running
# as CGI on Dreamhost

ServerSignature Off
Options -Indexes
